recursive-include . *.py
recrusive-include . *.pm
include *.h
include *.c
include Changes
include README
include TODO
include opts.pl
include try_perlapi.pl
exclude tryperlapi.h
exclude tryperlapi.c
recursive-include Python-Object *
